@font-face {
  font-family: 'Bell Gothic';
  src:  url('../fonts/BellGothicBT-Roman.woff') format('woff'),
        url('../fonts/BellGothicBT-Roman.woff2') format('woff2');
}

@font-face {
  font-family: 'Bell Gothic Black BT Regular';
	src:  url('../fonts/BellGothicBT-Black.woff') format('woff'),
          url('../fonts/BellGothicBT-Black.woff2') format('woff2');
}

body {
	font-family: 'PT Sans';
	overflow-x: hidden;
}

h4 {
	font-family: 'PT Sans';
}

.country-selection-alert {
	position: fixed;
	padding: 13px;
	top: 30px;
	right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 500px;
	horizontal-align: center;
	border-radius: 4px;
	background-color: #9999ff;
	border: 1px solid #4d4dff;
	color: #FFF;
}

.loading-spinner{
	text-align: center;
}

.title {
	background-color: #000;
	color: #FFF;
	padding: 10px 20px; 
}

.inline {
	white-space: nowrap;
}

/* Making the country list scrollable: */
.country-list {
	overflow-y: scroll;
	height: 50vh;
	width: 100%;
	border: 1px solid #E6E6E6;
	padding-top: 10px;
}
.country-names{
	margin-left: 15px;
}
.list-group-item:hover{
	background-color: #1B1464;
	color: #fff;
}

.list-group{
	margin-bottom: -1px;
}

#map {
	height: 55vh;
	width: 100%;
}

.gv-logo {
	margin-top: 21px;
	margin-left: 25px;
}

.description {
	text-align: center;
	padding-bottom: 20px;
}

.spacer {
	margin-bottom: 20px;
}

/* For UI-Bootstrap to work: */
.nav,
.pagination,
.carousel,
.panel-title a {
	cursor: pointer;
}

.country-input {
	border: 1px solid #E6E6E6;
}

.form-control {
	border: 1px solid #E6E6E6;
}

.form-control:focus {
	border: 1px solid #000;
}

.btn-primary {
	background-color: #000;
	border: 1px solid #2c3e50;
}

.btn-primary.active {
	background-color: #1abc9c;
	border: 1px solid #1abc9c;
	transition: border-color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s;
}

.country-tags {
  font: 12px/1.5 'PT Sans', serif;
  margin: 25px;
  list-style: none;
  margin: 0;
  margin-top: 35px;
  overflow: hidden; 
  padding: 0;
}

.country-tags li {
  float: left; 
}

.country-tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 13px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.country-tag::before {
  background: #fff;
  border-radius: 10px;
  height: 6px;
  left: 5px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.country-tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.country-tag:hover {
  background-color: #1B1464;
  color: white;
  text-decoration: none;
}

.country-tag:hover::after {
   border-left-color: #1B1464; 
}