.country-news {
	padding: 10px;
	background-color: white;
}
.news-story {
	border-bottom: 1px solid #EEE;
	height: 100%;
}
.news-panel {
	background-color: #FFF;
	padding: 1px 10px 10px 10px;
	border-left: 1px solid #666666;
	border-right: 1px solid #666666;
}
.indent {
	padding-left: 10px;
}
.article-country-name {
	text-align: center;
}
